<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - list</title>
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>
    <div class="info-box-container">
        <!-- Student Payment Container that must redirect to the student payment system -->
        <a href="#">
            <div class="info-box secendColor hover-zoom-effect">
                <div class="icon">
                    <img class="option-icon" src="~/img/payment.png" alt="" />
                </div>
                <div class="text">Student Payment</div>
            </div>
        </a>

        <!-- Student Refund Container that must redirect to the student refund system -->
        <a href="#">
            <div class="info-box secendColor hover-zoom-effect">
                <div class="icon">
                    <img class="option-icon" src="~/img/refund.png" alt="" />
                </div>
                <div class="text">Student Refund</div>
            </div>
        </a>
    </div>

    <div class="info-box-container">
        <!-- University Payment Container that must redirect to the university payment system -->
        <a href="#">
            <div class="info-box secendColor hover-zoom-effect">
                <div class="icon">
                    <img class="option-icon" src="~/img/unipay.png" alt="" />
                </div>
                <div class="text">University Payment</div>
            </div>
        </a>

        <!-- Donor Payment Container that must redirect to the donor payment system -->
        <a href="#">
            <div class="info-box secendColor hover-zoom-effect">
                <div class="icon">
                    <img class="option-icon" src="~/img/donor.png" alt="" />
                </div>
                <div class="text">Donor Payment</div>
            </div>
        </a>
    </div>

    <div class="info-box-container">
        <!-- Financial Statement Container that must redirect to the student financial statement document -->
        <a href="#">
            <div class="info-box secendColor hover-zoom-effect">
                <div class="icon">
                    <img class="option-icon" src="~/img/financialstatement.png" alt="" />
                </div>  
                <div class="text">Financial Statement</div>
            </div>
        </a>

        <!-- Financial Agreement Container that must redirect to the student financial agreement with the office -->
        <a href="#">
            <div class="info-box secendColor hover-zoom-effect">
                <div class="icon">
                    <img class="option-icon" src="~/img/agreement.png" alt="" />
                </div>
                <div class="text">Financial Agreement</div>
            </div>
        </a>
    </div>

    <div class="info-box-container">
        <!-- Application Form Container that must redirect to the student application form to fill with the office -->
        <a href="#" class="centered-link">
            <div class="info-box secendColor hover-zoom-effect">
                <div class="icon">
                    <img class="option-icon" src="~/img/form.png" alt="" />
                </div>
                <div class="text">Application Form</div>
            </div>
        </a>
    </div>
</body>
</html>
