html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #eee;
}

input[disabled]:hover,
select[disabled]:hover,
textarea[disabled]:hover {
    cursor: not-allowed;
}

@media screen and (min-width: 14in) {
    
    .media-screen {
        margin-left: 100px;
    }
}