@model SIS_UMS.Models.FinancialAgreement


@{
    Layout = "_Layout";
}

@{
    ViewBag.Title = "USAL | Update Financial Agreement";
}



<section class="content media-screen">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 90vh;">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Update Financial Agreement</h3> <!-- Card title -->
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="FinancialAgreement" asp-action="UpdateFinancialAgreement">
                        <!-- Office Name Input -->
                        <div class="form-group">
                            <label asp-for="OfficeName" for="inputName">Office Name</label>
                            <input asp-for="OfficeName" type="text" id="inputName" class="form-control"  />

                        </div>
                        <!-- Student ID Input -->
                        <div class="form-group">
                            <label asp-for="StudentId" for="inputDescription">Student ID</label>
                            <input asp-for="StudentId" id="inputDescription" class="form-control" rows="4"  />

                        </div>
                        <!-- Agreement Date Select -->
                        <div class="form-group">
                            <label asp-for="AgreementDate" for="inputStatus">Agreement Date</label>
                            <input asp-for="AgreementDate" id="inputDescription" class="form-control" rows="4"  />

                        </div>

                        <!-- Agreement Details Select -->
                        <div class="form-group">
                            <label asp-for="AgreementDetails" for="inputStatus">Agreement Details</label>
                            <input asp-for="AgreementDetails" id="inputDescription" class="form-control" rows="4"  />

                        </div>

                        <!-- Start Date Input -->
                        <div class="form-group">
                            <label asp-for="StartDate" for="inputStatus">Start Date</label>
                            <input asp-for="StartDate" id="inputDescription" class="form-control" rows="4"  />

                        </div>

                        <!-- End Date Input -->
                        <div class="form-group">
                            <label asp-for="EndDate" for="inputStatus">End Date</label>
                            <input asp-for="EndDate" id="inputDescription" class="form-control" rows="4"  />

                        </div>

                        <!-- Is Active Input -->
                        <div class="form-check">
                            <input asp-for="IsActive" type="checkbox" class="form-check-input" id="IsActive">
                            <label class="form-check-label" for="IsActive">Is Active</label>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Edit Form</button>
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>

